{{!-- creamos el form --}}
<div class="container">
  <form id="formMascota">

    <div class="mb-3">
      <label for="mascota" class="form-label">Nombre Mascota</label>
      <input type="text" class="form-control" name="mascota" id="mascota" required>
    <div>

    <div class="mb-3">
      <label for="" class="form-label">Nombre Propietario</label>
      <input type="text" class="form-control" name="propietario" id="propietario" required>
    <div>

    <div class="mb-3">
      <label for="" class="form-label">Run Propietario</label>
      <input type="text" class="form-control" name="run" id="run" required>
    <div>
    
    <div class="m-3">
      <button type="submit" class="btn btn-success">Ingresar</button>
    </div>

  </form>
</div>


<script>
  
  const formulario = document.querySelector('#formMascota')

  formulario.addEventListener("submit", (event) => {
    event.preventDefault();
    
    const headers = new Headers();
    headers.append("Content-Type", "application/json");

    let nuevaMascota = {
      mascota: mascota.value,
      propietario: propietario.value,
      run: run.value
    }

    fetch("http://localhost:3000/mascotas", {
      method: "post",
      headers,
      body: JSON.stringify(nuevaMascota),
      redirect: "follow"
    }).then(response => response.json())
      .then(data => {
        if (data.code != 201) {
          alert(data.message)
        } else {
          alert("Mascota agregada correctamente.")
          location.href = "/"
        }
      }).catch(error => {
        console.log(error)
      })


  })

</script>