<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Propietario</th>
      <th>Run</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{mascota.id}}</td>
      <td>{{mascota.nombre}}</td>
      <td>{{mascota.propietario.nombre}}</td>
      <td>{{mascota.propietario.run}}</td>
    </tr>
  </tbody>
</table>