<h1>Mascotas</h1>
{{> table_mascotas}}

<script>

  let deleteMascota = (nombre) => {
        
    const headers = new Headers();
    headers.append("Content-Type", "application/json");

    fetch("http://localhost:3000/mascotas/"+nombre, {
      method: "DELETE",
      redirect: "follow"
    }).then(response => response.json())
      .then(data => {
        if (data.code != 201) {
          alert(data.message)
        } else {
          alert("Mascota eliminada correctamente.");
          location.href = "/"
        }
      }).catch(error => {
        console.log(error)
      })
      
  }

</script>