<div class="row">
  <div class="col-sm-12 col-md-6">
    <h1>Paises</h1>
  </div>
  <div class="col-sm-12 col-md-6" style="text-align: right;">
    <a href="/paises" class="btn btn-success">VOLVER</a>  
  </div>
</div>
{{> table_paises_pib}}